<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
	<title>Serenity Roofing</title>
	<meta charset="utf-8">
	<!--[if IE]>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<![endif]-->
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

	<link rel="stylesheet" href="../public/css/bootstrap.min.css">
	<link rel="stylesheet" href="../public/css/animations.css">
	<link rel="stylesheet" href="../public/css/fonts.css">
	<link rel="stylesheet" href="../public/css/main.css" class="color-switcher-link">
	<script src="../public/js/vendor/modernizr-2.6.2.min.js"></script>
	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-204282337-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-204282337-1');
</script>

	<!--[if lt IE 9]>
		<script src="js/vendor/html5shiv.min.js"></script>
		<script src="js/vendor/respond.min.js"></script>
		<script src="js/vendor/jquery-1.12.4.min.js"></script>
	<![endif]-->

</head>

<body>
	<!--[if lt IE 9]>
		<div class="bg-danger text-center">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" class="highlight">upgrade your browser</a> to improve your experience.</div>
	<![endif]-->

	<div class="preloader">
		<div class="preloader_image"></div>
	</div>

	<!-- search modal -->
	<div class="modal" tabindex="-1" role="dialog" aria-labelledby="search_modal" id="search_modal">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">
				<i class="rt-icon2-cross2"></i>
			</span>
		</button>
		<div class="widget widget_search">
			<form method="get" class="searchform search-form form-inline" action="./">
				<div class="form-group">
					<input type="text" value="" name="search" class="form-control" placeholder="Search keyword" id="modal-search-input">
				</div>
				<button type="submit" class="theme_button">Search</button>
			</form>
		</div>
	</div>

	<!-- Unyson messages modal -->
	<div class="modal fade" tabindex="-1" role="dialog" id="messages_modal">
		<div class="fw-messages-wrap ls with_padding">
			<!-- Uncomment this UL with LI to show messages in modal popup to your user: -->
			<!--
		<ul class="list-unstyled">
			<li>Message To User</li>
		</ul>
		-->

		</div>
	</div>
	<!-- eof .modal -->

	<!-- wrappers for visual page editor and boxed version of template -->
	<div id="canvas">
		<div id="box_wrapper">

			<!-- template sections -->

			<section class="page_topline ds table_section section_padding_top_5 section_padding_bottom_5">
				<div class="container-fluid">
					<div class="row">
						<div class="col-sm-6 text-center text-sm-left">
							<p>
					<div aria-hidden="true"></div>
				</p>
						</div>
						<div class="col-sm-6 text-center text-sm-right">
							<div class="inline-content">
								<p>
						<i class="fa fa-phone grey rightpadding_5" aria-hidden="true"></i>
						<a href="tel:713-283-8143">713-283-8143</a>

					</p>

							</div>
						</div>
					</div>
				</div>
			</section>

			<header class="page_header header_white toggler_xs_right section_padding_20">
				<div class="container-fluid">
					<div class="row">
						<div class="col-sm-12 display_table">
							<div class="header_left_logo display_table_cell">
								<a href="./" class="logo top_logo text-left">
									<img src="../public/images/toplogo.jpg" alt="">
								</a>
							</div>

							<div class="header_mainmenu display_table_cell text-center">
								<!-- main nav start -->
								<nav class="mainmenu_wrapper">
									<ul class="mainmenu nav sf-menu">
										<li >
											<a href="/Home">Home</a>
										</li>

										<li>
											<a href="/AboutUs">About Us</a>

										</li>
										<!-- eof pages -->

										<li>
											<a href="/Services">Services</a>
											<!-- eof mega menu -->
										</li>
										<!-- eof features -->
										<li>
											<a href="/ShingleSelector">Shingle Selector</a>
										</li>

										<!-- gallery -->
										<li>
											<a href="/Gallery">Gallery</a>
										</li>
										<!-- eof Gallery -->

										<!-- contacts -->
										<li>
											<a href="/ContactUs">Free Inspection</a>
										</li>
										<!-- eof contacts -->
										<li class="active">
											<a href="/FAQ">FAQ</a>
										</li>
									</ul>
								</nav>
								<!-- eof main nav -->
								<!-- header toggler -->
								<span class="toggle_menu">
									<span></span>
								</span>
							</div>

							<div class="header_right_buttons display_table_cell text-right hidden-xs">
								<div class="darklinks">

									<!-- <div class="header_left_logo display_table_cell">
										<a href="https://www.gaf.com/en-us/roofing-contractors" target="_blank" class="logo top_logo text-left">
											<img  style="    width: 125px;
		height: 100px;"src="../public/images/MasterElite.png" alt="">
	</a>
	<a href="https://www.certainteed.com/qualifications/" target="_blank">
											<img style = "width: 125px;
		height: 100px; margin-right: 50px;" src="../public/images/ShingleMaster.jpeg" alt="">
										</a>
									</div> -->

									<!-- <a href="#" class="social-icon color-icon border-icon soc-facebook"></a>
									<a href="#" class="social-icon color-icon border-icon soc-google"></a> -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</header>

			<section class="page_breadcrumbs ds parallax section_padding_top_50 section_padding_bottom_50">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h2 class="highlight">Frequently Asked Questions</h2>
							<ol class="breadcrumb darklinks">
								<li>
									<a href="/home">
							Home
						</a>
								</li>
								<li class="active">FAQ</li>
							</ol>
						</div>
					</div>
				</div>
			</section>


			<section class="ls section_padding_100 columns_padding_25">
				<div class="container">
					<div class="row vertical-tabs">
						<div class="col-sm-5">

							<!-- Nav tabs -->
							<ul class="nav" role="tablist">
								<li class="active">
									<a href="#vertical-tab1" role="tab" data-toggle="tab">When I look at my roof, I don’t see any hail damage. What’s all the fuss about?
									</a>
								</li>
								<li>
									<a href="#vertical-tab2" role="tab" data-toggle="tab">Does my insurance company know if I had large hail in my neighborhood?</a>
								</li>
								<li>
									<a href="#vertical-tab3" role="tab" data-toggle="tab">The Inspection</a>
								</li>
								<li>
									<a href="#vertical-tab4" role="tab" data-toggle="tab">My adjuster said “no damage”</a>
								</li>
								<li>
									<a href="#vertical-tab5" role="tab" data-toggle="tab">Discrepancies</a>
								</li>
								<li>
									<a href="#vertical-tab6" role="tab" data-toggle="tab">How the insurance company pays on claims</a>
								</li>
								<li>
									<a href="#vertical-tab7" role="tab" data-toggle="tab">Is The Excess Money Mine?</a>
								</li>
								<li>
									<a href="#vertical-tab8" role="tab" data-toggle="tab">Do I need to get two or more estimates?</a>
								</li>
								<li>
									<a href="#vertical-tab9" role="tab" data-toggle="tab">Will my insurance company give me more money if I spend more than they have given me?</a>
								</li>
							</ul>

						</div>

						<div class="col-sm-7">

							<!-- Tab panes -->
							<div class="tab-content no-border">
								<div class="tab-pane fade in active" id="vertical-tab1">
									<h3 class="poppins">When I look at my roof, I don’t see any hail damage. What’s all the fuss about?
</h3>
									<p>Hail Damage can’t be seen very easily most of the time. You usually will never see actual holes or indentations. Hail will drastically shorten the life of your roof. If you have damaged siding, vehicles, or have noticed neighbors getting work done, you can be 99% sure that you will need a new roof and may have other damages also. Hail can damage your roof without any visible signs from the ground</p>
									<p>Sometimes these damages do not show up quickly or are easily overlooked. The integrity of the shingle may be damaged, do not take a chance on it. If hail is driven by high winds or if it lasts longer than a few minutes, even small-sized hail can cause your roof to suffer severe damage and the loss of their protective granules, which will greatly reduce the life of your roof. Loss of granule layers on the shingle will cause the fiberglass matting to be exposed to the suns UV rays. This will cause serious deterioration of the shingle in a short period of time. Have it inspected, just to be safe.</p>

									<!-- <p>Ask Yourself These Questions</p>
										<ul>
											<li>What is replacement cost value?</li>
											<li>What is actual cash value?</li>
											<li>What is recoverable depreciation?</li>
											<li>What is non-recoverable depreciation?</li>
											<li>Will my insurance adjuster be a cat-adjuster or an in-home adjuster?</li>
											<li>What difference will a cat-adjuster make for me?</li>
											<li>What is full scope of insurance proceeds?</li>
											<li>Why is it a felony to profit from an insurance loss?</li>
											<li>Will the adjuster give me enough money for a quality restoration?</li>
											<li>What can I do if my adjuster didn’t or doesn’t give me enough money for a quality job?</li>
											<li>If all these questions are hard to understand or answer, then let a professional help you.</li>
											<li>We can answer all of your questions and help you get everything you deserve.</li>
										</ul> -->

									<p>Hail and high winds can cause serious damage to your roof and exterior of your home. An evaluation by a trained roofing specialist can verify the extent of your damages and outline the means by which to get them repaired   </p>

								</div>
								<div class="tab-pane fade" id="vertical-tab2">
									<h3 class="poppins"> Does my insurance company know if I had large hail in my neighborhood?</h3>
									<p>Most insurance companies subscribe to different tracking and hail reporting services. These services can track the hail size and the exact location it fell. If you had damaging hail, they already know it. If you had hail in your neighborhood, contact Serenity Roofing & Construction</p>
									<p>We want to be present when the adjuster comes out to do his/her inspection. It is your legal right to have someone represent you during the inspection. Your adjuster cannot enter your property without your permission. Insist on a firm appointment so that we can schedule the meeting also. If we are not, or was not present during the inspection, you probably will not, or did not receive a full claim. Let us work for you in getting what you deserve. You only have a  limited time to make a claim!</p>
								</div>
								<div class="tab-pane fade" id="vertical-tab3">
									<h3 class="poppins">The Inspection</h3>
									<p> The adjuster will look at your property during working hours, so you may not be home when the inspection is taking place, which means you have no input in the matter. We ask that you allow us to meet with the adjuster during the inspection. The adjuster will inspect your roof and exterior of your home for visible signs of damage only. For the roof, he will measure out a “Test Square” (10′ x 10′) on different sections of your roof. If he can find a sufficient amount of bruises or breaks for each “Test Square”, the insurance company will buy you a new roof, and your only participation in the payment process is your full legally required deductible, and the insurance company pays the rest to us.</p>

								</div>
								<div class="tab-pane fade" id="vertical-tab4">
									<h3 class="poppins">My adjuster said “no damage”</h3>
									<p>It is possible that your roof was the only one on the block that wasn’t damaged. However, you are entitled to a re-inspection by another adjuster within the same firm. So if you’re not completely satisfied with the results of your claim, don’t settle. Ask for another inspection. Let us work for you in getting what you deserve.</p>

								</div>
								<div class="tab-pane fade" id="vertical-tab5">
									<h3 class="poppins">Discrepancies</h3>
									<p>Most occur when the adjuster has not assessed the same amount of damage as the contractor, mismeasurments or building code upgrades. Whether it is for the roof, gutters, siding or other exterior or interior damage. So if you have interior damage or other hard to see damages that can be easily overlooked, we will document and take pictures of everything to make sure you are treated fairly. This is another reason to let us meet your adjuster when he is at your property.</p>
									<p>You are entitled to have your contractor of choice represent you during the adjustment process to expedite the settlement of your claim. In order to save you time off from work and the headache of the entire process, we ask that you allow us to meet your adjuster during the inspection process. We will work with your adjuster to determine the extent of the damage.Your insurance adjustor uses a software called Xactimate, we use the same software so there is no differences in pricing. All you pay in most cases is your deductible. We are a Texas roofing company that will work for you in getting what you deserve.</p>
								</div>
								<div class="tab-pane fade" id="vertical-tab6">
									<h3 class="poppins">How the insurance company pays on claims</h3>
									<p>In most cases, about a week after the adjuster has estimated your property, you will receive your first check. This is most commonly called the ACV (Actual Cost Value). This check should represent the actual cost to repair or replace the damaged property, minus depreciation. The age and condition of the property is taken into account when calculating this depreciation. When work is completed, the insurance company will issue a check for the recoverable depreciation amount only if the total expenses are equal to, or greater than the total settlement.</p>
								</div>
								<div class="tab-pane fade" id="vertical-tab7">
									<h3 class="poppins">Is The Excess Money Mine?</h3>
									<p>Upon completion of your roof the contractor will invoice the insurance company. The only way to get excess money is to invoice for more than the actual amount which is insurance fraud. Insurance fraud is a felony and will never be the practice of an honest contractor.</p>
								</div>
								<div class="tab-pane fade" id="vertical-tab8">
									<h3 class="poppins">Do I need to get two or more estimates?</h3>
									<p>The industry uses fair market value software called Xactimate to determine your pricing.  All you pay is the deductible amount and we have to invoice for the amount on the insurance scope, so why not get the best? You are only saving the insurance company money and costing yourself quality when you get several estimates..  Think of it this way, what reward will the insurance company give you for finding the best price for them? Will they lower your premium? Your insurance company will pay a reputable contractor a “fair market price.” You should concentrate on choosing a reputable contractor that will use superior quality materials rather than concentrating on price. you owe only the deductible and the insurance company pays the rest!</p>

								</div>
								<div class="tab-pane fade" id="vertical-tab9">
									<h3 class="poppins">Will my insurance company give me more money if I spend more than they have given me?</h3>
									<p>Maybe! Your insurance company will only pay supplements on items that we can prove they overlooked. We will work with you insurance company, take pictures, and communicate what is needed to ensure you get the quality roof they owe for and you deserve as they owe for the components that are currently on your roof and any building department code upgrades, If your policy has code upgrade coverage.</p>
									<!-- <p>Here is an  example of what you may pay . . .</p>
									<p>The insurance company has allowed you $5000.00 to replace your roof. Your deductible is $500.00 and your total withheld recoverable depreciation is $2000.00 so you will get a check for $2500.00. If you choose a contractor to replace your roof for $3500.00, you will only receive $500.00 of the recoverable depreciation because, “The amount of recoverable depreciation will be based on the lesser of the adjusters estimate or the actual costs incurred on damaged areas only” OR “If you have replacement cost coverage, you may be entitle to the withheld recoverable depreciation after repairs have been completed, provided that cost of the repairs exceed the amount of your deductible and your initial claim payment.”
</p>
									<p>All you pay is the deductible amount regardless of the prices, so why not get the best? You are only saving the insurance company money and costing yourself quality when you get several estimates. By letting a professional negotiate with the insurance company, we can make sure that you get everything necessary for a quality restoration.</p>
									<p>Besides, what reward will the insurance company give you for finding the best price for them? Will they lower your premium?</p>
									<p>Your insurance company will pay a reputable contractor a “fair market price.” You should concentrate on choosing a reputable contractor while will use superior quality materials rather than concentrating on price. All you are required to pays is your deductible in most cases, so it is impossible for you to overpay.</p>
									<p>Which contractor should I hire?</p>
									<p>Only choose a contractor who is willing to help you with the claims process. The cost for the repairs for your home is then determined by the insurance company and the contractor. This keeps you from over-paying! We have successfully completed hundreds of storm damage repairs and we have the experience needed to work on your behalf. Serenity Roofing & Construction is a statewide full-service contractor that has over 15 years of roofing expertise. We have extensive experience in working with insurance companies to replace your hail damaged roof and more.</p>
 -->

								</div>
							</div>

						</div>


					</div>

				</div>
			</section>

			<footer class="page_footer ds section_padding_top_100 section_padding_bottom_100 columns_padding_25 table_section table_section_md">
				<div class="container">
					<div class="row">

						<div class="col-md-4 col-sm-12 col-md-push-4 text-center">
							<div class="widget">
								<!-- <a href="./" class="logo top_logo bottommargin_30">
									<img src="../public/images/SR_logo-white_background.png" alt="">
								</a> -->
								<img style="width:175px" src="../public/images/service-finance-logo.png">



								<div style = "display: flex; flex-direction: row; width: 300px;     margin-top: 5%;
		margin-left: 9%; flex-wrap: wrap"	>
									<a style="  width: 125px; height: 100px;" href="https://www.gaf.com/en-us/roofing-contractors" target="_blank" class="logo top_logo text-left">
										<img  style=" width: 125px; height: 100px;"src="../public/images/MasterElite.png" alt="">
									</a>
									<a style=" margin-top: 2%; width: 125px; height: 100px;" href="https://www.certainteed.com/qualifications/" target="_blank">
										<img style = "width: 125px; height: 100px; " src="../public/images/ShingleMaster.jpeg" alt="">
									</a>
									<a style=" width: 125px; height: 100px;" href="https://www.certainteed.com/qualifications/" target="_blank">
										<img style = "width: 125px; height: 100px; " src="../public/images/billy_photos/APA.jpg" alt="">
									</a>
									<a style=" width: 125px; height: 100px;" href="https://www.certainteed.com/qualifications/" target="_blank">
										<img style = " width: 125px; height: 100px; " src="../public/images/billy_photos/Versico.png" alt="">
									</a>
									<a style=" width: 125px; height: 100px; margin-left: 20%;" >
									<img  class= "shingleImage"src="../public/images/Owens.png"/>
								</a>

								</div>


								<p class="regular">
								</p>

								<div class="topmargin_30 darklinks">
									<!-- <a href="#" class="social-icon color-icon border-icon soc-facebook"></a>

									<a href="#" class="social-icon color-icon border-icon soc-google"></a> -->
								</div>

							</div>
						</div>

						<div class="col-md-4 col-sm-6 col-md-pull-4 text-center">

							<div>
								<img src="../public/images/billy_photos/Billy_pool.png"/>
							</div>
							<!-- <div class="widget widget_mailchimp">

								<h3 class="widget-title">Newsletter</h3>

								<form class="signup" action="./" method="get">
									<div class="form-group">
										<input name="email" type="email" class="mailchimp_email form-control text-center" placeholder="Email Address">
									</div>
									<button type="submit" class="theme_button color1 no_bg_button">Send</button>
									<p class="darkgrey">We promise not to spam!</p>
									<div class="response"></div>

								</form>

							</div> -->
						</div>

						<div class="col-md-4 col-sm-6 text-center">
							<div>
									<img src="../public/images/billy_photos/IMG_6955-2.jpeg"/>
							</div>
							<!-- <div class="widget widget_instagram">
								<h3 class="widget-title">More Information</h3>
								<div>
									<a href= "/faq"> Frequently Asked Questions </a>

								</div>
							</div> -->
						</div>

					</div>
				</div>
			</footer>

			<section class="ls page_copyright section_padding_15">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<p class="small-text">&copy; Copyright 2018 All Rights Reserved</p>
						</div>
					</div>
				</div>
			</section>

		</div>
		<!-- eof #box_wrapper -->
	</div>
	<!-- eof #canvas -->

	<script src="../public/js/compressed.js"></script>
	<script src="../public/js/main.js"></script>


</body>

</html>
