<!DOCTYPE html>

<html class="no-js">
<!--<![endif]-->

<head>
	<title>Serenity Roofs</title>
	<meta charset="utf-8">
	<!--[if IE]>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<![endif]-->
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

	<link rel="stylesheet" href="../public/css/bootstrap.min.css">
	<link rel="stylesheet" href="../public/css/animations.css">
	<link rel="stylesheet" href="../public/css/fonts.css">
	<link rel="stylesheet" href="../public/css/main.css" class="color-switcher-link">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
	<script src="../public/js/vendor/modernizr-2.6.2.min.js"></script>

	<!--[if lt IE 9]>
		<script src="js/vendor/html5shiv.min.js"></script>
		<script src="js/vendor/respond.min.js"></script>
		<script src="js/vendor/jquery-1.12.4.min.js"></script>
	<![endif]-->

</head>

<body>
	<!--[if lt IE 9]>
		<div class="bg-danger text-center">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" class="highlight">upgrade your browser</a> to improve your experience.</div>
	<![endif]-->

	<div class="preloader">
		<div class="preloader_image"></div>
	</div>

	<!-- search modal -->
	<div class="modal" tabindex="-1" role="dialog" aria-labelledby="search_modal" id="search_modal">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">
				<i class="rt-icon2-cross2"></i>
			</span>
		</button>
		<div class="widget widget_search">
			<form method="get" class="searchform search-form form-inline" action="./">
				<div class="form-group">
					<input type="text" value="" name="search" class="form-control" placeholder="Search keyword" id="modal-search-input">
				</div>
				<button type="submit" class="theme_button">Search</button>
			</form>
		</div>
	</div>

	<!-- Unyson messages modal -->
	<div class="modal fade" tabindex="-1" role="dialog" id="messages_modal">
		<div class="fw-messages-wrap ls with_padding">
			<!-- Uncomment this UL with LI to show messages in modal popup to your user: -->
			<!--
		<ul class="list-unstyled">
			<li>Message To User</li>
		</ul>
		-->

		</div>
	</div>
	<!-- eof .modal -->

	<!-- wrappers for visual page editor and boxed version of template -->
	<div id="canvas">
		<div id="box_wrapper">

			<!-- template sections -->

			<section class="page_topline ds table_section section_padding_top_5 section_padding_bottom_5">
				<div class="container-fluid">
					<div class="row">
						<div class="col-sm-6 text-center text-sm-left">
							<p>
					<div aria-hidden="true"></div>
				</p>
						</div>
						<div class="col-sm-6 text-center text-sm-right">
							<div class="inline-content">
								<p>
						<i class="fa fa-phone grey rightpadding_5" aria-hidden="true"></i>
						<a href="tel:713-283-8143">713-283-8143</a>

					</p>

							</div>
						</div>
					</div>
				</div>
			</section>

			<header class="page_header header_white toggler_xs_right section_padding_20">
				<div class="container-fluid">
					<div class="row">
						<div class="col-sm-12 display_table">
							<div class="header_left_logo display_table_cell">
								<a href="./" class="logo top_logo text-left">
									<img src="../public/images/toplogo.jpg" alt="">
								</a>

							</div>

							<div class="header_mainmenu display_table_cell text-center">
								<!-- main nav start -->
								<nav class="mainmenu_wrapper">
									<ul class="mainmenu nav sf-menu">
										<li class="active">
											<a href="/Home">Home</a>
										</li>

										<li>
											<a href="/AboutUs">About Us</a>

										</li>
										<!-- eof pages -->

										<li>
											<a href="/Services">Services</a>
											<!-- eof mega menu -->
										</li>
										<!-- eof features -->

										<li>
											<a href="/ShingleSelector">Shingle Selector</a>
										</li>


										<!-- gallery -->
										<li>
											<a href="/Gallery">Gallery</a>
										</li>
										<!-- eof Gallery -->

										<!-- contacts -->
										<li>
											<a href="/ContactUs">Free Inspection</a>
										</li>
										<!-- eof contacts -->
										<li>
											<a href="/FAQ">FAQ</a>
										</li>
									</ul>
								</nav>
								<!-- eof main nav -->
								<!-- header toggler -->
								<span class="toggle_menu">
									<span></span>
								</span>
							</div>

							<div class="header_right_buttons display_table_cell text-right hidden-xs">
								<div class="darklinks">

									<!-- <div style = "display: flex; flex-direction: row; width: 300px"	>
										<a style="  width: 75px; height: 50px;" href="https://www.gaf.com/en-us/roofing-contractors" target="_blank" class="logo top_logo text-left">
											<img  style=" width: 75px; height: 50px;"src="../public/images/MasterElite.png" alt="">
										</a>
										<a style=" margin-top: 4.3%;  width: 75px; height: 50px;" href="https://www.certainteed.com/qualifications/" target="_blank">
											<img style = "width: 75px; height: 50px; " src="../public/images/ShingleMaster.jpeg" alt="">
										</a>
										<a style=" width: 75px; height: 50px;" href="https://www.certainteed.com/qualifications/" target="_blank">
											<img style = " width: 75px; height: 50px; " src="../public/images/billy_photos/APA.jpg" alt="">
										</a>
										<a style=" width: 75px; height: 50px;" href="https://www.certainteed.com/qualifications/" target="_blank">
											<img style = " width: 75px; height: 50px; " src="../public/images/billy_photos/Versico.png" alt="">
										</a>

									</div> -->

									<!-- <a href="#" class="social-icon color-icon border-icon soc-facebook"></a>
									<a href="#" class="social-icon color-icon border-icon soc-google"></a> -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</header>

			<section class="intro_section page_mainslider ds">
				<div class="flexslider" data-nav="false">
					<ul class="slides">

						<li>
							<img src="../public/images/slide02.jpg" alt="">
							<div class="container">
								<div class="row">
									<div class="col-sm-12 text-center">
										<div class="slide_description_wrapper">
											<div class="slide_description">
												<div class="intro-layer" data-animation="fadeInUp">
													<h4>
														Welcome to Serenity Roofing & Construction
													</h4>
													<h2>
													Free Inspection
													</h2>
												</div>
												<div class="intro-layer" data-animation="fadeInUp">
													<p>
											We have more than 17 years of experience providing quality roofing solutions for businesses and homeowners in the Houston area.
										</p>
													<a href="/ContactUs" class="theme_button color1">Learn More</a>
												</div>
											</div>
											<!-- eof .slide_description -->
										</div>
										<!-- eof .slide_description_wrapper -->
									</div>
									<!-- eof .col-* -->
								</div>
								<!-- eof .row -->
							</div>
							<!-- eof .container -->
						</li>

						<li>
							<img src="../public/images/slide03.jpg" alt="">
							<div class="container">
								<div class="row">
									<div class="col-sm-12 text-center">
										<div class="slide_description_wrapper">
											<div class="slide_description">
												<div class="intro-layer" data-animation="fadeInUp">
													<h4>
														Welcome to Serenity Roofing & Construction
													</h4>
													<h2>
														Insurance Claim Specialists
													</h2>
												</div>
												<div class="intro-layer" data-animation="fadeInUp">
													<p>
										We have more than 17 years of experience providing quality roofing solutions for businesses and homeowners in the Houston area.
										</p>
													<a href="/InsuranceSpecialist" class="theme_button color1">Learn More</a>
												</div>
											</div>
											<!-- eof .slide_description -->
										</div>
										<!-- eof .slide_description_wrapper -->
									</div>
									<!-- eof .col-* -->
								</div>
								<!-- eof .row -->
							</div>
							<!-- eof .container -->
						</li>

						<li>
							<img src="../public/images/IMG_6950.png" alt="">
							<div class="container">
								<div class="row">
									<div class="col-sm-12 text-center">
										<div class="slide_description_wrapper">
											<div class="slide_description">
												<div class="intro-layer" data-animation="fadeInUp">
													<h4>
														Welcome to Serenity Roofing & Construction
													</h4>
													<h2>
														Family Owned
													</h2>
												</div>
												<div class="intro-layer" data-animation="fadeInUp">
													<p>
										We have more than 17 years of experience providing quality roofing solutions for businesses and homeowners in the Houston area.
										</p>
													<a href="/AboutUs" class="theme_button color1">Learn More</a>
												</div>
											</div>
											<!-- eof .slide_description -->
										</div>
										<!-- eof .slide_description_wrapper -->
									</div>
									<!-- eof .col-* -->
								</div>
								<!-- eof .row -->
							</div>
							<!-- eof .container -->
						</li>

					</ul>
				</div>
				<!-- eof flexslider -->

			</section>

			<section class="ls section_padding_100">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h5 class="regular text-uppercase">Welcome!</h5>
							<h2 class="section_header">What we offer</h2>

							<p class="text-center regular lightgrey">
					At Serenity Roofing and Construction we specialize in key areas to really assist you and make any roof a simple and easy process.
				</p>
						</div>
					</div>
					<div class="row topmargin_30 columns_margin_bottom_20">
						<div class="col-md-4 col-sm-6">
							<div class="vertical-item content-padding hover-content big-padding bg_teaser after_cover darkgrey_bg text-center ds">
								<img src="../public/images/teaser01.jpg" alt="" />
								<div class="media-links"></div>
								<div class="item-content">
									<h3 class="text-uppercase">
										Commercial
										<br>
										<span class="regular">Roofing</span>
									</h3>
									<div class="content-body">
										<p>
								It’s not a stretch to say that whatever your commercial property needs are that Serenity Roofing & Construction can handle it!
							</p>
										<p class="topmargin_30">
								<a href="/CommercialRoofing" class="theme_button color1 inverse">Learn More</a>
							</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="vertical-item content-padding hover-content big-padding bg_teaser after_cover darkgrey_bg text-center ds">
								<img src="../public/images/resRoofing.png" alt="" />
								<div class="media-links"></div>
								<div class="item-content">
									<h3 class="text-uppercase">
										Residential
										<br>
										<span class="regular">Roofing</span>
									</h3>
									<div class="content-body">
										<p>
								Allow our team to assist you in selecting a roof that is right for your home, your budget, and your personal taste. Learn more now!
							</p>
										<p class="topmargin_30">
								<a href="/ResidentialRoofing" class="theme_button color1 inverse">Learn More</a>
							</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-12">
							<div class="vertical-item content-padding hover-content big-padding bg_teaser after_cover darkgrey_bg text-center ds">
								<img src="../public/images/helloquence-51716-unsplash.jpg" alt="" />
								<div class="media-links"></div>
								<div class="item-content">
									<h3 class="text-uppercase">
										Insurance
										<br>
										<span class="regular">Claim Experts</span>
									</h3>
									<div class="content-body">
										<p>
							Allow our team to assist you in all the red tape and hurdles the insurance company has you go through. We help you every step of the way!
							</p>
										<p class="topmargin_30">
								<a href="/InsuranceSpecialist" class="theme_button color1 inverse">Learn More</a>
							</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row topmargin_30">
						<div class="col-sm-12 text-center">
							<a href="/Services" class="theme_button color1 inverse">All services</a>
						</div>
					</div>
				</div>
			</section>


			<section id="services" class="cs page_services background_cover section_padding_100">
				<div class="container">
					<div class="row">
						<div class="col-md-7 col-lg-6">
							<h5 class="regular text-uppercase grey">What we offer</h5>
							<h2 class="section_header grey">Our Services</h2>

							<p style="color:black" class="black">
					Serenity Roofing and Construction provides professional roof consulting services in the inspection and evaluation of commercial and residential roofing systems. Making sure your roof is secure, energy efficient, waterproof, and correctly installed is the best investment you can make in your home or commercial roof system.
				</p>

							<div class="row columns_margin_top_20">
								<div class="col-sm-6 col-sm-12">
									<div class="teaser hover-bg-teaser vertical-item light_bg_color text-center">
										<div class="item-content">
											<i class="ecoroof-wrench size_normal highlight"></i>
											<h5 class="text-uppercase grey bottommargin_0">
												Insurance
												<br>
												<span class="regular">Claim Specialist</span>
											</h5>
										</div>
										<div class="media-links no-color-overlay">
											<a href="/InsuranceSpecialist " class="abs-link"></a>
										</div>
									</div>
								</div>
								<div class="col-sm-6 col-sm-12">
									<div class="teaser hover-bg-teaser vertical-item light_bg_color text-center">
										<div class="item-content">
											<i class="ecoroof-hummer size_normal highlight"></i>
											<h5 class="text-uppercase grey bottommargin_0">
												Roof
												<br>
												<span class="regular">Installation</span>
											</h5>
										</div>
										<div class="media-links no-color-overlay">
											<a href="/RoofInstallation" class="abs-link"></a>
										</div>
									</div>
								</div>
								<div class="col-sm-6 col-sm-12">
									<div class="teaser hover-bg-teaser vertical-item light_bg_color text-center">
										<div class="item-content">
											<i class="ecoroof-helmet size_normal highlight"></i>
											<h5 class="text-uppercase grey bottommargin_0">
												Family
												<br>
												<span class="regular">Owned & Operated</span>
											</h5>
										</div>
										<div class="media-links no-color-overlay">
											<a href="/FamilyOwned" class="abs-link"></a>
										</div>
									</div>
								</div>
								<div class="col-sm-6 col-sm-12">
									<div class="teaser hover-bg-teaser vertical-item light_bg_color text-center">
										<div class="item-content">
											<i class="fas fa-bolt size_normal highlight"></i>
											<h5 class="text-uppercase grey bottommargin_0">
												Storm
												<br>
												<span class="regular">Damage</span>
											</h5>
										</div>
										<div class="media-links no-color-overlay">
											<a href="/StormDamage" class="abs-link"></a>
										</div>
									</div>
								</div>
								<!-- <div class="col-sm-4">
									<div class="teaser hover-bg-teaser vertical-item light_bg_color text-center">
										<div class="item-content">
											<i class="ecoroof-helmet size_normal highlight"></i>
											<h5 class="text-uppercase grey bottommargin_0">
												Roof
												<br>
												<span class="regular">Management</span>
											</h5>
										</div>
										<div class="media-links no-color-overlay">
											<a href="/RoofManagement" class="abs-link"></a>
										</div>
									</div>
								</div> -->
								<!-- <div class="col-sm-4">
									<div class="teaser hover-bg-teaser vertical-item light_bg_color text-center">
										<div class="item-content">
											<i class="ecoroof-roof size_normal highlight"></i>
											<h5 class="text-uppercase grey bottommargin_0">
												Roof
												<br>
												<span class="regular">Coating</span>
											</h5>
										</div>
										<div class="media-links no-color-overlay">
											<a href="/RoofCoating" class="abs-link"></a>
										</div>
									</div>
								</div> -->
							</div>
						</div>
					</div>
				</div>
			</section>


			<section id="why_us" class="ls section_padding_top_100 section_padding_bottom_75 columns_margin_bottom_30 columns_padding_25">
				<div class="container">
					<div class="row">
						<div class="col-md-4 col-md-push-4 text-center">
							<h5 class="regular text-uppercase">Our advantages</h5>
							<h2 class="section_header">Why Choose Us</h2>

							<p class="lightgrey">
					We strive to treat every one of our customers like they were part of our own family. Taking pride and treating your home like it was our own.
				</p>
						</div>
						<div class="col-sm-6 col-md-4 col-md-pull-4 text-right">
							<div>
								<div class="teaser media topmargin_0">
									<div class="media-body media-middle">
										<h5 class="text-uppercase">
											Expert Installation Crews
										</h5>
										<p>
								Our crews have been trained to meet or exceed manufacturer installation guidelines and current building codes.
							</p>
									</div>
									<div class="media-right media-middle">
										<div class="teaser_icon main_bg_color size_small">
											<i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
										</div>
									</div>
								</div>
								<div class="teaser media">
									<div class="media-body media-middle">
										<h5 class="text-uppercase">
											Family Owned
										</h5>
										<p>
								Whether we are setting up our first appt with you, or meeting your insurance company, you will always be treated like family!
							</p>
									</div>
									<div class="media-right media-middle">
										<div class="teaser_icon main_bg_color size_small">
											<i class="fa fa-heart-o" aria-hidden="true"></i>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4">
							<div>
								<div class="teaser media topmargin_0">
									<div class="media-left media-middle">
										<div class="teaser_icon main_bg_color size_small">
											<i class="fa fa-bolt" aria-hidden="true"></i>
										</div>
									</div>
									<div class="media-body media-middle">
										<h5 class="text-uppercase">
											Insurance Claim Experts
										</h5>
										<p>
								We specialize in handling your insurance claim from start to finish, helping you the entire way!
							</p>
									</div>
								</div>
								<div class="teaser media">
									<div class="media-left media-middle">
										<div class="teaser_icon main_bg_color size_small">
											<i class="fa fa-lightbulb-o" aria-hidden="true"></i>
										</div>
									</div>
									<div class="media-body media-middle">
										<h5 class="text-uppercase">
											Licensed & Insured
										</h5>
										<p>
								We take pride in staying up to date with all the logistics, so you don't have to worry.
							</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>


			<section id="contact" class="cs grey page_contacts parallax section_padding_top_100 section_padding_bottom_75 columns_margin_bottom_30">
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-sm-4 text-center">
							<div>
								<h3 class="text-uppercase">
									Address
								</h3>
								<p>
									2011 Polmont Dr, Bryan TX 77807

				<br />
				21175 State Highway 249 Ste 715, Houston, TX 77070

					</p>
							</div>
						</div>
						<div class="col-lg-6 col-sm-4 text-center">
							<div>
								<h3 class="text-uppercase">
									Call us
								</h3>
								<p>
						<strong>Phone:</strong> <a href="tel:713-283-8143">713-283-8143</a><br>
					</p>
							</div>
						</div>
						<div class="col-lg-3 col-sm-4 col-sm-12 text-center">
							<div>
								<h3 class="text-uppercase">
									Email us
								</h3>
								<p>
						support@myserenityroof.com
					</p>
							</div>

						</div>
					</div>
				</div>
			</section>

			<section class="ls section_padding_top_100 section_padding_bottom_100 page_contact">
				<div class="container">
					<div class="row">
						<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 text-center">

							<h5 class="regular text-uppercase">Schedule your</h5>
							<h2 class="section_header">FREE INSPECTION</h2>

							<form action="/ContactForm" class="contact-form row columns_padding_10 topmargin_50" method="POST" >

								<div class="col-sm-6">
									<div class="form-group">
										<label for="name">Full Name
											<span class="required">*</span>
										</label>
										<input type="text" aria-required="true" size="30" value="" name="name" id="name" class="form-control text-center" placeholder="Full Name">
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label for="email">Email address
											<span class="required">*</span>
										</label>
										<input type="email" aria-required="true" size="30" value="" name="email" id="email" class="form-control text-center" placeholder="Email Address">
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label for="address">Home Address
											<span class="required">*</span>
										</label>
										<input type="text" aria-required="true" size="30" value="" name="address" id="address" class="form-control text-center" placeholder="Street Address">
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label for="phone">Phone Number
											<span class="required">*</span>
										</label>
										<input type="text" aria-required="true" size="30" value="" name="phone" id="phone" class="form-control text-center" placeholder="Phone Number">
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label for="subject">Message Topic
											<span class="required">*</span>
										</label>
										<input type="text" list='roof-options'aria-required="true" size="30" value="" name="subject" id="subject" class="form-control text-center" placeholder="Roof Type">
										<datalist id="roof-options">
											<option value="Shingle"/>
											<option value="Metal"/>
											<option value="Tile"/>
										</datalist>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label for="leaks">Leaks
											<span class="required">*</span>
										</label>
										<input type="text" list='leak-options' aria-required="true" size="30" value="" name="leaks" id="name" class="form-control text-center" placeholder="Are you aware of any leaks?">
											<datalist id="leak-options">
    										<option value="Yes"/>
    										<option value="No"/>
											</datalist>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label for="date">Completion Date
											<span class="required">*</span>
										</label>
										<input onfocus="(this.type='date')" aria-required="true" size="30" value="" name="date" id="date" class="form-control text-center" placeholder="Preferred Completion Date">
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label for="insurance">Insurance Claim
											<span class="required">*</span>
										</label>
										<input type="text" list='insurance-options' aria-required="true" size="30" value="" name="insurance" id="insurance" class="form-control text-center" placeholder="Have you filed an Insurance Claim?">
											<datalist id="insurance-options">
    										<option value="Yes"/>
    										<option value="No"/>
											</datalist>
									</div>
								</div>
								<div class="col-sm-12">

									<div class="form-group">
										<label for="message">Message</label>
										<textarea aria-required="true" rows="5" cols="45" name="message" id="message" class="form-control text-center" placeholder="Message"></textarea>
									</div>
								</div>

								<div class="col-sm-12 bottommargin_0">

									<div class="contact-form-submit topmargin_30">
										<button type="submit" id="contact_form_submit" name="contact_submit" class="theme_button color1 margin_0">Send Message</button>
									</div>
								</div>

							</form>

						</div>
					</div>
				</div>
			</section>


			<footer class="page_footer ds section_padding_top_100 section_padding_bottom_100 columns_padding_25 table_section table_section_md">
				<div class="container">
					<div class="row">

						<div class="col-md-4 col-sm-12 col-md-push-4 text-center">
							<div class="widget">
								<!-- <a href="./" class="logo top_logo bottommargin_30">
									<img src="../public/images/SR_logo-white_background.png" alt="">
								</a> -->
								<a href="https://www.bbb.org/us/tx/houston/profile/roofing-contractors/serenity-roofing-construction-0915-90051001" >
									<img style="width:175px" src="../public/images/better-business-bureau-logo-no-background-bbb-large.png">
								</a>





								<!-- <div style = "margin-top: 25px">
									<a href="https://www.gaf.com/en-us/roofing-contractors" target="_blank" class="logo top_logo text-left">
										<img  style="    width: 125px;
	height: 100px;"src="../public/images/MasterElite.png" alt="">
</a>
<a href="https://www.certainteed.com/qualifications/" target="_blank">
										<img style = "width: 125px;
	height: 100px; " src="../public/images/ShingleMaster.jpeg" alt="">
									</a>
								</div> -->

								<a href="https://app.gethearth.com/partners/serenity-roofing-construction?utm_campaign=11919&utm_content=general&utm_medium=contractor-website&utm_source=contractor&utm_term=250_250" target="_blank">
		<img src="https://app.gethearth.com/contractor_images/serenity-roofing-construction/general/250x250/hearth.png"alt="hearth financing 250_250"style="height:250px;width:250px; margin-top: 10px" /></a>


								<div style = "display: flex; flex-direction: row; width: 300px;     margin-top: 5%;
    margin-left: 9%; flex-wrap: wrap"	>
									<a style="  width: 125px; height: 100px;" href="https://www.gaf.com/en-us/roofing-contractors" target="_blank" class="logo top_logo text-left">
										<img  style=" width: 125px; height: 100px;"src="../public/images/MasterElite.png" alt="">
									</a>
									<a style=" margin-top: 2%; width: 125px; height: 100px;" href="https://www.certainteed.com/qualifications/" target="_blank">
										<img style = "width: 125px; height: 100px; " src="../public/images/ShingleMaster.jpeg" alt="">
									</a>
									<a style=" width: 125px; height: 100px;" href="" target="_blank">
										<img style = "width: 125px; height: 100px; " src="../public/images/APA.jpg" alt="">
									</a>
									<a style=" width: 125px; height: 100px;" href="https://www.versico.com/" target="_blank">
										<img style = " width: 125px; height: 100px; " src="../public/images/Versico.png" alt="">
									</a>

								</div>

								<p class="regular">
								</p>

								<div class="topmargin_30 darklinks">
									<!-- <a href="#" class="social-icon color-icon border-icon soc-facebook"></a>

									<a href="#" class="social-icon color-icon border-icon soc-google"></a> -->
								</div>

							</div>
						</div>

						<div class="col-md-4 col-sm-6 col-md-pull-4 text-center">

							<div>
								<img src="../public/images/billy_photos/Billy_pool.png"/>
							</div>



							<!-- <div class="widget widget_mailchimp">

								<h3 class="widget-title">Newsletter</h3>

								<form class="signup" action="./" method="get">
									<div class="form-group">
										<input name="email" type="email" class="mailchimp_email form-control text-center" placeholder="Email Address">
									</div>
									<button type="submit" class="theme_button color1 no_bg_button">Send</button>
									<p class="darkgrey">We promise not to spam!</p>
									<div class="response"></div>

								</form>

							</div> -->
						</div>

						<div class="col-md-4 col-sm-6 text-center">
							<div>
									<img src="../public/images/billy_photos/IMG_6955-2.jpeg"/>
							</div>
							<!-- <div class="widget widget_instagram">
								<h3 class="widget-title">More Information</h3>
								<div>
									<a href= "/faq"> Frequently Asked Questions </a>

								</div>
							</div> -->
						</div>

					</div>
				</div>
			</footer>

			<section class="ls page_copyright section_padding_15">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<p class="small-text">&copy; Copyright 2018 All Rights Reserved</p>
						</div>
					</div>
				</div>
			</section>

		</div>
		<!-- eof #box_wrapper -->
	</div>
	<!-- eof #canvas -->

	<script src="../public/js/compressed.js"></script>
	<script src="../public/js/main.js"></script>


</body>

</html>
